cmd/tui/*.exe
cmd/tui/files
cmd/tui/tui
cmd/service/service

build/bin/*

build/windows/installer/tmp

build/windows-custom/NicelandVPN.exe
build/windows-custom/NicelandVPN-windows.exe

build/darwin-custom/NicelandVPN.app/Contents/MacOS/*
build/darwin-custom/NicelandVPN.app/Contents/_CodeSignature/*

cmd/tui/*.exe
cmd/tui/niceland-static-tui
cmd/tui/tui

cmd/cli/cli
cmd/cli/*.exe

node_modules
frontend/dist
files

launcher/launcher
launcher/launcher.exe

tests/domainblocking/combined

nicelandvpn-desktop

.DS_Store
*.DS_Store
.idea
