cmd/tui/*.exe
cmd/tui/files

build/bin/*

build/windows/installer/tmp

build/windows-custom/NicelandVPN.exe
build/windows-custom/NicelandVPN-windows.exe

build/darwin-custom/NicelandVPN.app/Contents/MacOS/*
build/darwin-custom/NicelandVPN.app/Contents/_CodeSignature/*

node_modules
frontend/dist
files

launcher/launcher
launcher/launcher.exe

tests/domainblocking/combined

.DS_Store
*.DS_Store
.idea