// Table of contents
$body-bg: #202324;
$notification-bg: #050505;
$body-dark-bg: #0a0b0e;
$title-shadow: 0px 1px 5px #0003;
$body-shadow: -2px -2px 5px #0003;

$main-bg-color: #141414;

// LOGS
$log-error: red;
$log-warning: yellow;

// NEW
$c-teal-hover: #20C997;
$c-teal-border: #3AF4BD;
$c-teal: #28ad85;

$c-lightblue: #20bec9;

$c-orange: #FF922D;
$c-orange-border: #EF7503;
$c-orange-hover: #EF7503;

$c-red: #FF5858;

// ShowSuccessToast
$error-color: #e70808;
$success-color: rgb(10, 182, 10);
$text-shadow: 1px 1px 1px #00000029;


$cancel-button-bg-hover: #af2a37;
$sidebar-width: 190px;

// SIDEBAR / MENU
$menu-background: $main-bg-color;

// POPOVERS
$popover-color: white;
$popover-background: black;
$popover-border: 2px solid $c-orange;

// LISTS
$list-header-border: 3px solid rgba(255, 255, 255, 0.699);
$list-item-border: 1px solid rgba(255, 255, 255, 0.411);
$list-hover: #49ffc827;

// TOOLTIPS
$tooltip-bg-color: $main-bg-color;
$tooltip-border: 2px solid white;

// TOP BAR
$top-bar-bg: $main-bg-color;
